* {
    margin: 0;
    padding: 0;
}

body {
    width: 1000px;
    margin: auto;
    font-family: Arial;
    min-height: 850px;
    background-image: url('../Image/Background.gif');
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
}

#bodytrang {
    background-color: white;
}

#content {
    min-height: 1350px;
}

.left {
    width: 74.3%;
    z-index: 10;
    float: left;
    border-right: 1px solid #BBBBBB;
    height: auto;
}

.right {
    width: 25%;
    float: right;
    height: auto;
}

#banner {
    width: 100%;
    height: 150px;
    margin: auto;
    background-image: url('../Image/BannerUser.png');
}

#menu {
    background: #2ba0db;
    width: 1000px;
    margin: auto;
    z-index: 10;
}

    #menu ul {
        font-size: 0;
        margin: 0;
        padding: 0;
    }

        #menu ul li {
            display: inline-block;
            position: relative;
            border-right: 1px solid #BBBBBB;
        }

            #menu ul li a {
                color: black;
                display: block;
                font-size: 13px;
                padding: 2px 10px;
                text-decoration: none;
                font-weight: bold;
            }

                #menu ul li a:hover {
                    color: white;
                    background: #126d9b;
                }

            #menu ul li ul {
                display: none;
                position: absolute;
                width: 200px;
                z-index: 10;
            }

                #menu ul li ul li {
                    border-top: 1px solid #808080;
                    display: block;
                }

                    #menu ul li ul li:first-child {
                        border-top: none;
                    }

                    #menu ul li ul li a {
                        background: #BBBBBB;
                        display: block;
                        padding: 2px 10px;
                        font-weight: bold;
                    }

                        #menu ul li ul li a:hover {
                            background: #126d9b;
                            color: white;
                        }
/*active menu*/
.active {
    background-color: #126d9b;
}

#menu .active a {
    color: white;
    background: #126d9b;
}

a {
    text-decoration: none;
    color: black;
    font-size: 80%;
    line-height: 28px;
}
/*mũi tên sổ xuống khi có menu con*/
.muiten {
    font-size: 100%;
    position: absolute;
    right: 6px;
    top: 3px;
}

/*thời gian thực*/
#clock {
    color: black;
    font-weight: bold;
    margin-right: 10px;
    float: right;
    font-size: 12px;
    line-height: 32px;
}

/*chung welcome login*/
#chung_welcome_login {
    height: 28px;
    line-height: 28px;
}
/*welcome to website*/
#welcome {
    margin-left: 10px;
    width: 74%;
    color: #e62c2c;
    font-size: 12px;
    text-align: left;
}
/*login*/
#login_register {
    float: right;
    margin-right: 10px;
    height: 26px;
    line-height: 26px;
}

    #login_register a {
        font-size: 11px;
        color: #0094ff;
    }

        #login_register a:hover {
            color: #e62c2c;
            text-decoration: underline;
        }

/*đường dẫn trang*/
#idduongdan {
    height: 27px;
    font-family: Tahoma;
    padding-left: 2%;
    font-weight: 500;
}

#sitemappath {
    width: 700px;
    height: 27px;
    text-align: left;
}

#chaoban {
    float: right;
    height: 27px;
    color: #1037a3;
    font-size: 13px;
    margin-right: 10px;
    line-height: 27px;
}

/*menu cuối*/
#menucuoi {
    width: 100%;
    margin: auto;
    height: 29px;
    background-image: url('../Image/MauMenu.PNG');
    text-align: center;
    position: relative;
    clear: both;
}

    #menucuoi ul li {
        float: inherit;
        /*border-right: 1px solid #BBBBBB;*/
        line-height: 29px;
        position: relative;
        display: inline-table;
        width: 8%;
        font-weight: bold;
    }

        #menucuoi ul li a {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 80%;
            line-height: 29px;
        }

            #menucuoi ul li a:hover {
                color: white;
                text-decoration: underline;
            }

/* footer cuối trang*/
#footer {
    width: 100%;
    line-height: 1.5;
    text-align: center;
    padding-top: 22px;
    font-weight:500;
    font-size: 14px;
    background-color: #eef7f7;
    font-family: 'Segoe UI';
}



/*Thông báo Popup*/
#background-popup {
    z-index: 85;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background: #000;
    top: 0px;
    left: 0px;
}

#to-popup {
    background: #F9F9F9;
    color: #333333;
    display: none;
    width: 45%;
    height: 55%;
    overflow: auto;
    position: fixed;
    top: 20%;
    z-index: 90;
    left: 60%;
    margin-left: -31%;
    padding: 15px;
}

#btn-close {
    transition: 0.2s;
    display: block;
    width: 26px;
    height: 21px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-top: 6px;
    padding-left: 16px;
}

    #btn-close:before {
        content: "";
        display: block;
        position: absolute;
        border-radius: 50%;
    }

    #btn-close:hover {
        background-color: #f26262;
    }

#popup-content {
    width: 100%;
    height: 100%;
    min-height: 300px;
    min-width: 400px;
}

#loading-title {
    display: block;
}
